a{
    color: black;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 8rem;
}
h1,h2,h7{
    margin: 0;
    padding-bottom: 1rem;
}
.home-elem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.link-btn{
    text-decoration: none;
    border-radius: 5px;
    border: 1px black solid;
    padding: 1rem;
    margin-top: 2rem;
}
.home-content{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
}