nav{
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
ul{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

li{
    list-style: none;
}
.link-tag{
    text-decoration: none;
}
